.container-horario{
    display: flex;
    width: 100%;
}
.intervalo-tempo{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}
.controles{
    width: 80%;
}
.controles button{
    text-align: center;
    margin: 30px;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}
.aplicarTempo{
    display: flex;
    justify-content: center;
}
.data-hora{
    font-size: 36px;
    margin: 30px;
}
.data-hora input{
    padding: 20px;
    font-size: 20px;
    margin-right: 20px;
}
.data-hora select{
    padding: 20px;
    font-size: 20px;
}
.mapas{
    display: flex;
    justify-content: center;
}
.heatmap{
    width: 600px;
    height: 510px;
    background-image: url(../assets/img/MapaLocal.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ccc;

}
.arduinoAlocacao{
    width: 600px;
    height: 510px;
    background-image: url(../assets/img/arduinos_Locacao.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 999;
    margin-top: 20px;
}