/* Header da Página Login */
.header-login {
    width: 100%;
    height: var(--tamanho-header);
    background-color: #001957f4;
    position: fixed;
}

.container-login {
    display: flex;
    width: 85%;
    margin: auto;
}
.header-login .container-login {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-login span {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}

.header-login h1 {
    display: flex;
    flex-direction: column;
}

.header-login a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.header-login img {
    width: 90px;
    height: 120px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    color: #fff;
}

.titulo {
    color: #ffffff;
    font-weight: 500;
}
.sobrepor-login {
    background-color: #001857BF;
    height: 100vh;
    width: 100%;
}
.sobrepor-login2 {
    background: linear-gradient(135deg, #7a4ef9, #502ff6);
    height: 100vh;
    width: 100%;
}

.container-login {
    display: flex;
    justify-content: center;
    color: #ffffff;
}
.container-login2{
    text-align: center;
}

.img-logo {
    width: 5%;
    height: 5%;
}

/* Conteúdo da Pagína Principal do Login */
.login {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.login .container {
    height: 80%;
    align-items: center;
    justify-content: center;
}

.card-login .container {
    justify-content: space-evenly;
}

.card {
    background-color: rgb(255, 255, 255);
}

.card-login {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40%;
    height: 70%;
    padding: 10px;
}

.card-login h5 {
    height: 5%;
    font-size: 45px;
    margin: auto;
    color: #1b307b;
}

/* Formulario com Input e Button */
.formulario {
    width: 100%;
    height: 90%;
}

.formulario .container {
    height: 100%;
    flex-direction: column;
}

.campo {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.campo select{
    height: 5vh;
    width: 95%;
    margin-left: 5px;
    font-size: 16px;
}
input {
    width: 92%;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(146, 146, 146);
}

.formulario a {
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
}

.campo span {
    color: #1b307b;
    font-size: 18px;
}

.formulario button {
    background-color: #1e2f48;
    border: 2px solid #6284ff99;
    width: 50%;
    height: 10%;
    color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #001857BF;
    transition: 1s;
    border: 4px solid #0026b0;
}

.possui_conta {
    color: #1e2f48;
    font-size: 16px;
    text-decoration: none;
    margin: 10px;
}

/* CADASTRO */

.cadastro {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.cadastro .container {
    height: 80%;
    align-items: center;
    justify-content: center;
}

.card-cadastro {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
    height: 85%;
    padding: 10px;
}

.card-cadastro h5 {
    height: 10%;
    font-size: 45px;
    margin: auto;
    color: #1b307b;
}

.card-cadastro .container {
    justify-content: space-evenly;
}
.possui_conta_cadastro{
    margin:10px;
}
.mensagem_cadastro{
    text-align: center;    
    font-size: 16px;
    margin: 10px;
}