*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.titulo{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.titulo2{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.banner {
    height: 100vh;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner2{
    height: 70%;
    width: 80%;
    padding: 30px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
}

.aglomerado {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

.grafico-carnes {
    height: 100%;
    width: 50%;
    align-self: center;
}

.grafico-hortifruti {
    height: 100%;
    width: 50%;
    align-self: center;
}

.grafico-limpeza {
    height: 100%;
    width: 50%;
    align-self: center;
}

.nome-setor {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome-setor span {
    font-size: 50px;
    color: #2b5484;
}

.card {
    background-color: #ffffff;
    box-shadow: 8px 5px 10px 3px #00000044;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.manual{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.manual img{
    width: 15%;
    margin: auto;
}
.manual a{
    font-size: 30px;
    margin-bottom: 20px;
}
.manual a:hover{
    text-decoration: underline;    
}
.suporte{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.suporte img{
    width: 15%;
    margin: auto;
}
.suporte a{
    font-size: 30px;
}
.suporte a:hover{
    text-decoration: underline;    
}
.kpi-setor1{
    margin-left: 20px;
    margin-bottom: 40px;
}