@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Página no Geral */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-color: #4D54FF;
    background-image: url(../assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Adicionar a cor azul transparente sobre a imagem */
:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header));
    --tamanho-pagina: calc(100vh - var(--tamanho-footer));
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 200px;
}

.header {
    height: var(--tamanho-header);
    background-color: #001957f4;
}

.container {
    display: flex;
    width: 85%;
    margin: auto;
}

/* Seção destinada para fazer o header */
.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header span{
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}
.header h1{
    display: flex;
    flex-direction: column;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.header img {
    width: 90px;
    height: 120px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    color: #fff;
}

.titulo {
    color: #ffffff;
    font-weight: 500;
}

/* Seção do conteúdo da página */
.banner {
    height: var(--tamanho-banner);
    background-color: #001957d0;
    width: 100%;
}

.banner .container {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.section-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}
.section-main h1 {
    display: flex;
    flex-direction: column;
}
.separador{
    width: 60%;
    border: 6px solid white;
    border-radius: 10px;
}
.banner .container p {
    width: 80%;
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: #ffffff;
}

.banner .container h1 {
    width: 50%;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 80px;
}
#span_branco{
    color: #fff;
    font-size: 128px;
}
#span_azul {
    color: #1e87ff;
    font-size: 148px;
}

.botao {
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
    width: 120px;
    border-radius: 10px;
    font-size: 16px;
    background-color:transparent;
    font-weight: bold;
}
/* fica com uma cor diferente quando passa en cima do botao */
.botao:hover{
    transition: 0.5s;
    background-color: #9e9797;
}
.botaoCadastro {
    margin-left: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #4D54FF;
    width: 200px;
    border: none;
    padding: 10px;
}
.botaoCadastro:hover{
    background-color: #6d71f4;
}

/* Seção Simulador */
.simulador {
    align-items: center;
    background-color: #4D54FF;
    height: 100vh;
}
.simulador .botao {
    padding: 10px;
    background: linear-gradient(#0C2CBD, #061766);
    width: 20%;
    font-size: 20px;
    margin: 20px;
}

.simulador .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.simulador .container h1 {
    justify-self: flex-start;
    color: #fff;
    font-size: 50px;
}

.formulario {
    height: 75%;
    width: 100%;
}

.formulario .container {
    height: 100%;
    width: 100%;
}

.campo {
    height: 18%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.campo input {
    padding: 10px;
    border: none;
    border-radius: 9px;
    text-align: center;
}

.campo span {
    font-size: 18px;
}

/* Seção destinado para o Sobre Nós, Nosso Serviço e Contato */
.about {
    color: #ffffff;
    background-color: #4D54FF;
    height: 100vh;
    text-align: center;
}
.servicos{
    color: #ffffff;
    background-color: #4D54FF;
    height: 100vh;
    text-align: center;
}
.servicos span{
    font-size: 36px;
    font-weight: bold;
}
.container span{
    font-size: 20px;
    font-weight: normal;
}
.servicos .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
}


.about .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about .container span {
    width: 80%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ffffff;
}
#servico .container img {
    width: 500px;
    border-radius: 120px;
}
.about .container h1 {
    width: 50%;
    margin: 0;
    padding: 0;
    color: #ffffff;
    margin: 20px;
    font-size: 40px;
}

/* Seção destinada para o Sobre Nós e Nossos Valores */

.social {
    display: flex;
    width: 100%;
}
.social .container .boxes{
    display: flex;
    width: 150%;
    padding: 30px 0;
}
.box{
    background-color: #949393;
    margin-right: 20px;
    border-radius: 10px;
}
.box img {
    width: 100px;
}

/* Seção destinada para o Footer */
.footer {
    height: var(--tamanho-footer);
    background-color: #fff;
    padding-top: 20px;
    text-align: center;
    display: flex;
}

.footer .container {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .container p {
    font-size: 12px;
    color: #6F6C90;
}

.footer .container img {
    height: 50%;
    width: 25%;
}
/* Parte da Esquerda do Footer - Contato */
.section-contato{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin-left: 120px;
}
.contato-info{
    text-align: start;
    display: flex;
    flex-direction: column;
}
.contato-info img{
    height: 20px;
    width: 20px;
}
/* Parte da Direita do Footer - Redes */
.contato-redes{
    width: 50%;
    padding-bottom: 40px;
}
.contato-redes img{
    height: 50px;
    width: 50px;
}