@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header));
    --tamanho-pagina: calc(100vh - var(--tamanho-footer));
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 180px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-color: #4D54FF;
    background-image:  url(../assets/img/background.png);
    background-size: cover;
}
/* Header da Página Login */
.sobrepor-login {
    background-color: #001857BF;
    height: 100vh;
    width: 100%;
}

.container-login {
    display: flex;
    justify-content: center;
    color: #ffffff;
}
.img-logo {
    width: 5%;
    height: 5%;
}

/* Conteúdo da Pagína Principal do Login */
.login {
    height: var(--tamanho-login);
    display: flex;
    justify-content: center;
    margin: auto;
    
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
}


.card-login {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 40%;
    border-radius: 20px;
}
.card {
    margin: 1px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    background-color: #4D54FF; 
}


/* Painel do Container da Esquerda */
.card-mensagem {
    background-color: #ffffff;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
}
.card {
    height: 110%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-mensagem h1 {
    color: #0C2CBD;
    font-size: 50px;
}

/* Painel do Container da Direita */
.card-direita {
    align-items: center;
}

.card-direita h2 {
    align-self: center;
    color: aliceblue;
}
.card-direita a{
    color: #fff;
    font-weight: 600;

}

/* Formulario com Input e Button */
.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.campo {
    width: 60%;
    display: flex;
    flex-direction: column;
}

input {
    width: 92%;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    
}

span {
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
}

.botoes {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    background: linear-gradient(#0C2CBD, #061766);
    width: 60%;
    height: 10%;
    cursor: pointer;
}

.possui_conta{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin: 10px;
}