.canva-tempo-real{
    width: 97%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2F5F98;
    border-radius: var(--tamanho-border-radius);
}
.dashboard-grafico{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grafico-unico{
    background-color: #ffffff;
    width: 85%;
    height: 80vh;
    border-radius: var(--tamanho-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.grafico-unico h2{
    width: 35%;
    color: #2F5F98;
    font-size: 4vh;
    border-bottom: 1px solid #2F5F98;
    text-align: center;
}