@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Página no Geral */

* {
    scroll-behavior: smooth;
    font-family: 'Montserrat';
    font-weight:'Montserrat';
}

body {
    margin: 0;
    padding: 0;
    background-color: #4D54FF;
    background-image: url(../assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Adicionar a cor azul transparente sobre a imagem */
:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh + var(--tamanho-header));
    --tamanho-pagina: calc(100vh + var(--tamanho-header) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 200px;
}

.header {
    width: 100%;
    height: var(--tamanho-header);
    background-color: #001957f4;
    position: fixed;
}

.container {
    display: flex;
    width: 85%;
    margin: auto;
}

.agrora{
    display: none;
}

/* Seção destinada para fazer o header */
.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.header span {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}

.header h1 {
    display: flex;
    flex-direction: column;
}

.header a {
    text-decoration: none;
    font-size: 20px;
}

.header img {
    width: 90px;
    height: 120px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    color: #ffffff;
}

.navbar li a{
    color: #ffffff;
    text-align: center;
}

.navbar li{
    text-align: center;
    width: 10%;
    height: 3vh;
}

.navbar li a:hover{
    color: #4a50fd;
    text-align: center;
    text-decoration: underline;
    border-radius: 2px;
    width: 10%;
    height: 3vh;
}

.titulo {
    color: #ffffff;
    font-weight: 500;
}

/* Seção do conteúdo da página */
.banner {
    height: var(--tamanho-banner);
    background-color: #001957d0;
    width: 100%;
}

.banner .container {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    color: #fff;
    text-align: left;
}

.separador {
    width: 100%;
    align-self: flex-start;
    border: 2px solid white;
    border-radius: 10px;
}

.banner .container p {
    width: 90%;
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: #ffffff;
}

.banner .container span {
    font-size: 90px;
}

.botao {
    height: 40px;
    border: 2px solid #fff;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    font-size: 18px;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* fica com uma cor diferente quando passa en cima do botao */

.botaoCadastro {
    height: 42px;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #4a50fd;
    width: 200px;
    border: none;
    padding: 10px;
    font-size: 18px;
}

.botao:hover {
    transition: 0.5s;
    background-color: #d2e5ff;
    color: black;
}

.botaoCadastro:hover {
    transition: 0.5s;
    background-color: #777be9;
    color: #ffffff;
}

/* Seção Simulador */
.simulador {
    height: var(--tamanho-pagina);
    background-color: #14187f;
}

.simulador .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.boxSimulador {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.simulador .card {
    border-radius: 10px;
    background-color: #ffffff;
}

.simulador .container h1 {
    color: #fff;
    align-self: center;
    font-size: 50px;
}

.simulador .formulario {
    width: 50%;
    height: 70%;
}

.simulador .formulario .container {
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.simulador .campo {
    color: #ffffff;
    height: 18%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#select_setor {
    height: 40%;
}

#div_resultado {
    font-size: 30px;
}

.simulador .campo input {
    padding: 10px;
    border: none;
    border-radius: 9px;
    text-align: center;
}

.simulador .campo span {
    font-size: 26px;
}

.simulador .botao {
    padding: 10px;
    background: linear-gradient(#0C2CBD, #061766);
    width: 20%;
    font-size: 20px;
    margin: 20px;
}

/* SERVIÇO */

.servicos {
    color: #091d54;
    background-color: #ffffff;
    height: var(--tamanho-pagina);
    text-align: center;
}

.img_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos img {
    width: 1200px;
    box-shadow: 8px 5px 10px 3px #00000044;
}

.servicos h1 {
    margin: 30px;
}

.texto_servico {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto_servico .container {
    align-items: center;
    justify-content: center;
}

.texto_servico .container p {
    width: 60%;
    font-size: 26px;
    text-align: justify;
}

.texto_servico .container span {
    padding-inline-start: 5%;
}

/* SOBRE NÓS */

.about {
    height: 70vh;
    color: #ffffff;
    background-color: #14187f;
    text-align: center;
}

.about .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about .container span {
    width: 80%;
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: #ffffff;
}

.about .container p {
    color: #000000;
}

.about .container h4 {
    color: #000000;
}

.about .container h1 {
    width: 50%;
    margin: 20px;
    padding: 0;
    color: #ffffff;
    font-size: 40px;
}

/* Seção destinada para o Sobre Nós e Nossos Valores */

.social {
    width: 100%;
}

.social .container .boxes {
    display: flex;
    width: 150%;
    padding: 30px 0;
}

.box {
    box-shadow: 10px 8px 14px 6px #00000044;
    background-color: #b8bae1;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.box img {
    width: 100px;
}

/* Seção destinada para o Footer */
.footer {
    height: var(--tamanho-footer);
    background-color: #fff;
    display: flex;
}

.footer .container {
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer .container p {
    font-size: 18px;
    color: #6F6C90;
}

.footer .container img {
    height: 50%;
    width: 13%;
}

/* Parte da Esquerda do Footer - Contato */
.section-contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.contato-info {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contato-info span {
    font-size: 20px;
}

.contato-info img {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}